body {
    width: 100vw;
    background-color: #6675ae;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#content {
    width: 32rem;
}

nav {
    display: flex;
    gap: 0.6rem;
}

.nav-item {
    padding: 1rem 3rem;
    border-bottom: none;
    background-color: #9faad6;

}

.nav-item > a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    color: #c7d1E8;
}

.active-nav > a {
    color: #6675ae;
    font-weight: 600;
}

.active-nav {
    background-color: #f7f7f7;
    border-bottom: none;
}

.content-area {
    background-color: #f7f7f7;
    padding: 2rem;
    border: 1px solid #eaeaea;
    border-top: none;
    border-radius: 0rem 0rem .25rem .25rem;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}